@import url('https://fonts.googleapis.com/css2?family=Montserrat');
.navbar{
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-area: navbar;
    font-size: 20px;
    position: relative;
    border-right: 2px solid rgb(120, 207, 255);
  }
.navbar_content{
  height: 650px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.navbar_settings{
  margin-top: 50px;
}
.item{
    margin-bottom: 30px;
}
.item a.active{
  color: rgb(120, 207, 255);
}
.item a{
  color: grey;
  text-decoration: none;
}
.friendsZone{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 20px;
}
.friendsZone h3{
    color: grey;
  text-align: center;
}
.FriendsList{
    color: grey;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

