.dialogs{
    display: grid;
    grid-template-columns: 2fr 4fr;
}
.dialogs_item{

}
.dialog{
    display: flex;
    align-items: center;
}
.dialog img{
    margin-right: 20px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.dialog a.active{
    font-size: 17px;
    color: white;
    font-weight: 700;
}
.dialog a{
 text-decoration: none;
 color: black;
}
.message{
    padding: 5px;
    border: 2px solid grey;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.messages{
    position: relative;
}
.new_message{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
}
.new_message button{
    border-radius: 10px;
    padding: 9px 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.new_message textarea{
    border-radius: 15px;
    width: 100%;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
