.dialogs{
    height: 100%;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 20% 80%; */
}
.dialogs_item{

}
.dialog{
    display: flex;
    align-items: center;
}
.dialog img{
    margin-right: 20px;
    margin-left: 5px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.dialog a.active{
    font-size: 17px;
    color: white;
    font-weight: 700;
}
.dialog a{
 text-decoration: none;
 color: black;
}
.message{
    margin-bottom: 10px;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.messages{
    width: 650px;
    position: relative;
}
.new_message{
    border-radius: 8px;
    border: 1px solid rgb(120, 207, 255);
    padding: 10px;
    background-color: rgb(240, 250, 255);
    width: 650px;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.new_message button{
    border-radius: 10px;
    padding: 9px 3px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.new_message textarea{
    resize:none;
    border-radius: 15px;
    width: inherit;
    max-width: inherit;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
